# Scripts & Config
Client/deployServer.sh
Client/genThrift.sh
Client/pushNewJarAllOS.sh
Client/ume.ini

*.class
target

# Mac system file
.DS_Store

# Package Files #
*.war
*.ear

# Updater (downloaded manually)
Binaries/Tools/Updater.jar
